@model IEnumerable<MVCGarage.Models.Vehicle>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div>
        <div class="header">
            <h1>Vehicles currently registered</h1>
            <hr />
            <p>These are the Vehicles that are currently registered with us</p>
        </div>
        <p style="color: white; text-align: center; font-size: 2em;">
            @Html.ActionLink("Register a Vehicle", "Create")
        </p>
        <table class="index-table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Owner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationPlate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CheckInTime)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayName(MVCGarage.Models.EnumHelper.GetDescriptionAttr(item.VehicleType))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationPlate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckInTime)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
