@model MVCGarage.ViewModels.Garage.BookedParkingSpotVM

@{
    ViewBag.Title = "Book A Parking Spot";
}
<div class="jumbotron" style="color: white;">
    <h2>The following parking spot has been booked:</h2>

    <div>
        <h4>Vehicle</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Vehicle.VehicleType):
                @Html.DisplayName(MVCGarage.Models.EnumHelper.GetDescriptionAttr(Model.Vehicle.VehicleType))
            </dt>

            <dt>
                @Html.DisplayNameFor(model => model.Vehicle.RegistrationPlate):
                @Html.DisplayFor(model => model.Vehicle.RegistrationPlate)
            </dt>

            <dt>
                @Html.DisplayNameFor(model => model.Vehicle.Owner):
                @Html.DisplayFor(model => model.Vehicle.Owner)
            </dt>
        </dl>
    </div>

    <div>
        <hr />
        <h4>Parking Spot</h4>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ParkingSpot.Label):
                @Html.DisplayFor(model => model.ParkingSpot.Label)
            </dt>
        </dl>
    </div>
    <br />
    <br />
    <p>
        @Html.ActionLink("Back to List", "Index", "ParkingSpots")
    </p>
</div>
